[Unit]
Description=Configuration dhclient pour l'interface enp0s8

[Service]
ExecStart=/root/askdhcp/config_intnet.sh
Type=simple

[Install]
WantedBy=default.target